* {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: 4rem 4rem 4rem 4rem;
    grid-template-rows: 4rem 4rem 4rem 4rem;
    background: red;
}

.teclado {
    background: aqua;
    border: 1px solid black;
    cursor: pointer;
}